$primary-color: #007bff;

.home{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.chat{
    display: flex;
    flex: 1;
}
.chat-list{
    width: calc(var(--chatlist-width));
    min-width: 325px;
    height: calc(100vh - var(--navbar-height));
}
.chat-area{
    flex: 1;
    height: calc(100vh - var(--navbar-height));
    // width: calc(100vw - var(--chatlist-width));
    // border: 2px solid red;
}