.container {
    border-right: 1px solid rgb(204, 204, 205);
    overflow-y: auto;
    height: 100%;
    position: relative;

    /* For Firefox */
    scrollbar-width: none; /* Makes the scrollbar thin */
    scrollbar-color: #888 #f1f1f1; /* Color of thumb and track */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for WebKit browsers */
    // border: 2px solid black;
}

/* For WebKit browsers (Chrome, Safari) */
.container::-webkit-scrollbar {
    width: 1px; /* Adjust the width to make it narrower */
}

.container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
}

.container::-webkit-scrollbar-thumb {
    background: #888; /* Thumb (scroll handle) color */
    border-radius: 2px; /* Rounds the scrollbar handle */
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color on hover */
}

.chat-name{
    font-size: 0.85rem;
    margin-left: 5px;
    font-weight: bold;
}
.chat-message{
    margin-left: 5px;
    font-size: 0.7rem;
}
.chat-list-item{
    margin-top: 10px;
    cursor: pointer;
}
.chat-select{
    background-color: #F0F2F5;
}
.chat-list-item:hover{
    background-color: #F0F2F5;
}
.chat-list-header{
    // border: 2px solid red;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    padding-top: 5px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 3px rgb(171, 170, 170);
    // background-color: rgb(237, 239, 239);
    // background-color: whitesmoke;
    // background-color: rgb(220, 233, 233);
    // background-color: rgb(243, 248, 249);
    background: linear-gradient(
        to top,
        // rgb(249, 249, 249),
        rgb(242, 246, 246),
        // rgb(198, 241, 247),
        rgb(198, 234, 247),
    );
}
.search{
    padding-left: 20px;
    width: calc(100% - 2*var(--primary-padding));
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(240,242,245);
    .search-bar{
        flex: 1;
    }
}

.fixed-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 20; /* Ensures it stays above other content */
}

.fixed-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.fixed-button:hover {
    background-color: #0056b3;
}
