$primary-color: #007bff;

.send-message{
    display: flex;
    align-items: center;
    padding: 10px;
    z-index: 1;
    // background-color: white;
    box-shadow: 2px 2px 3px 1px grey;
    border-radius: 20px;
    // background-color: var(--primary-color);
    // border: 2px solid red;
    background-color: white;
}
.scroll-container{
    // height: calc(100% - var(--send-message-height));
    height: 100%;
    width: 100%;
    display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    overflow: auto;
    // border: 2px solid green;
    // flex: 1;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
    position: relative;
    padding: var(--chatbox-padding);
    padding-bottom: 5px;
    // background-color: whitesmoke;
    background: linear-gradient(to top right, #f5f5f5, #f3f5f7, rgb(178, 204, 226));
}
.message-bar{
    width: fit-content;
    margin-top: 5px;
    padding: 20px;
    background-color: #E0E0E0;
    border-radius: 15px;
    border-top-left-radius: 0;
    max-width: 50%;
    word-wrap: break-word; /* Legacy property */
    overflow-wrap: break-word; /* Modern equivalent */
    overflow: hidden; /* Prevent content from overflowing */
}
.message-sent{
    align-self: flex-end;
    border-radius: 15px;
    border-top-right-radius: 0;
    background-color: var(--primary-color);
    color: white;
}