$primary-color: #007bff;

// global.scss
:root {
  --primary-color: #007bff;
  --secondary-color: #2ecc71;
  --navbar-height: 60px;
  --send-message-height: 80px;
  --chatbox-padding: 20px;
  --chatlist-width: 33%
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
.black{
  border: 2px solid black !important;
}
.red{
  border: 2px solid red !important;
}
.green{
  border: 2px solid green !important;
}
.grey{
  border: 2px solid grey !important;
}
.blue{
  border: 2px solid blue !important;
}
.pink{
  border: 2px solid pink !important;
}
body{
  height: 100vh;
  width: 100vw;
  // border: 2px solid black;
  overflow: hidden;
}
input{
  all: unset;
  background-color: white;
  height: 100%;
  border-radius: 6px;
  padding: 15px;
  // box-sizing: border-box;
}
.primary-background{
  background-color: $primary-color;
}
.primary-font {
  color: white;
  font-size: 2rem;
  font-family: cursive;
  text-shadow: 1px 1px 3px black;
}
.search{
  border-radius: 6px;
  height: 100%;
  position: relative;
  .search-icon{
    position: absolute;
    top: 50%; 
    transform: translatey(-50%);
    left: 2%;
  }
  input{
    padding-left: 35px;
    width: 100%;
  }
  box-shadow: 2px 2px 3px 0.1px rgb(49, 102, 167);
}

@media (max-width: 900px) {
  /* Styles for tablets and mobile devices */
  .nav-search {
    display: none;
  }
}
@media (max-width: 400px) {
  /* Styles for tablets and mobile devices */
  .primary-font {
    font-size: 1.5rem;
  }
}
@media (max-width: 300px) {
  /* Styles for tablets and mobile devices */
  .primary-font {
    font-size: 1.2rem;
  }
}

.abs-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scrollableChatBox {
  /* For WebKit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
      width: 2px; /* Adjust width as needed */
  }

  &::-webkit-scrollbar-track {
      background: #f1f1f1; /* Background of the track */
  }

  &::-webkit-scrollbar-thumb {
      background: #888; /* Color of the scrollbar handle */
      border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
      background: #555; /* Color when hovered */
  }

  /* For Firefox */
  scrollbar-width:none;
  scrollbar-color: #888 #f1f1f1; /* Thumb color, track color */
}

.auto-scroll{
  overflow: auto;
}
.full-height{
  height: 100%;
}
.infinite-scroll-component__outerdiv{
  width: 100%;
  // border: 2px solid yellow
}
.infinite-scroll-component{
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // border: 2px dotted blue;
}

// .navbar{
//   border: 2px solid black;
// }
